---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="codenotes-log">
  <section class="md">
    <h1>codenotes-log</h1>
    <p>競プロの解説メモ。</p>

    <ul>
      <li><a href="/problems">Problems（一覧）</a></li>
    </ul>
  </section>
</SiteLayout>
